<!-- 404.hbs -->
<html>
<head>
    <title>Oops!</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/404.css">
</head>
<body>
    <div class="container">
        <div class="container-top">
            <h1 class="title">404</h1>
            <p class="info">Aha! You see! You can be wrong!</p>
            <p class="note">(or it could be us)...</p>
        </div>

        <div class="container-bottom">
            <p class="info">...either way, you should probably</p>
            <a href="/" class="link-text">go back to homepage!</a>
        </div>
    </div>
</body>
</html>
