body {
  background-color: #1e1e1e;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #2e2e2e;
  color: #fff;
}

.error-image {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.error-title {
  font-size: 48px;
  color: #fff;
}

.error-message {
  font-size: 24px;
  color: #ccc;
}

.error-description {
  font-size: 18px;
  color: #ccc;
}
