<!-- header.hbs -->
<header>
  <img src="/assets/images/logo.svg" alt="Logo" height="40px" />

  <nav>
    <ul>
      <li><a href="#">Movies</a></li>
      <li><a href="#">TV Shows</a></li>
      <li><a href="#">Settings</a></li>
    </ul>
  </nav>
</header>