<!-- login.hbs -->
<html>
<head>
    <title>Login | Lunarr</title>
    <link rel="stylesheet" type="text/css" href="assets/css/login.css">
</head>

<body>
    <div class="login-container">
        <div class="login-form">
            <h1>Welcome to Lunarr</h1>
            <form id="login-form">
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Login
                    <div class="loader"></div>
                </button>
            </form>
            <div id="error-message" class="error-message"></div>
            <p class="signup-text">Don't have an account? <a class="signup-link" href="/signup">Signup</a></p>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const loginForm = document.getElementById('login-form');
            const loginButton = loginForm.querySelector('button');
            const loader = loginButton.querySelector('.loader');
            const errorMessage = document.getElementById('error-message');

            loginForm.addEventListener('submit', function(event) {
                event.preventDefault();
                const username = event.target.username.value;
                const password = event.target.password.value;

                // Disable the login button and show the loader
                loginButton.disabled = true;
                loader.style.display = 'block';

                // Perform login request
                fetch('/auth/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ username, password })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.api_key) {
                        // Successful login
                        window.location.href = '/dashboard'; // Redirect to dashboard page
                    } else {
                        // Failed login
                        errorMessage.style.display = 'block';
                        errorMessage.textContent = data.message;
                    }
                })
                .catch(error => {
                    // Error occurred during login request
                    errorMessage.style.display = 'block';
                    errorMessage.textContent = 'An error occurred. Please try again later.';
                })
                .finally(() => {
                    // Enable the login button and hide the loader
                    loginButton.disabled = false;
                    loader.style.display = 'none';
                });
            });
        });
    </script>
</body>
</html>
